<!DOCTYPE html>
<head>
	<title>Admin Page</title>
</head>

<body>
	<div class="starter-container">
		<h2 id="greeting">Admin Page</h2>

        <div>
            <label id="messages">You have {} new messages. </label>
            <button id="messageBtn">View</button>
        </div><br>
		
        <div id="clubRequests">
			<label id="requests">You have {} new club requests. </label>
			<button id="requetsBtn">View</button>
		</div><br>

        <div id="reports">
			<label id="numReports">You have {} new reports. </label>
			<button id="reportsBtn">View</button>
		</div><br>

        <div id="browse-buttons">
            <button id="clubBrowseBtn">Browse Clubs</button>
            <button id="eventBrowseBtn">Browse Events</button>
        </div><br>
		
		<button id="logoutBtn">Logout</button>
	</div>

	<script>
		let user = {};
		let requests = 0;

		window.addEventListener("DOMContentLoaded", async () => {
			// Get current User
            let response = await fetch("/current-user", {
                method: "GET",
				headers: {
                    "Content-Type": "application/json"
                }
            });
            
            let data = await response.json();
            user = data.user;
            document.getElementById("greeting").innerHTML = "Welcome " + user.Firstname;

            response = await fetch("/get-messages", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            data = await response.json();
            messageNum = data.number;
            document.getElementById("messages").innerHTML = "You have " + messageNum + " new messages.";
            
            // Get number of new club requests
            response = await fetch("/club-requests", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            data = await response.json();
            requestNum = data.number;
            if (requestNum == 1) {
                document.getElementById("requests").innerHTML = "You have " + requestNum + " new request.";
            } else {
                document.getElementById("requests").innerHTML = "You have " + requestNum + " new requests.";
            }
            
            // Get number of new reports
            response = await fetch("/get-reports", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            data = await response.json();
            reportsNum = data.number;
            if (reportsNum == 1) {
                document.getElementById("numReports").innerHTML = "You have " + reportsNum + " new report.";
            } else {
                document.getElementById("numReports").innerHTML = "You have " + reportsNum + " new reports.";
            }
        });
        
        document.getElementById("logoutBtn").addEventListener("click", () => {
            window.location.href = '/logout';
        });
        
        document.getElementById("requetsBtn").addEventListener("click", () => {
            window.location.href = '/view-club-requests';
        });

        document.getElementById("reportsBtn").addEventListener("click", () => {
            window.location.href = '/view-reports';
        });

        document.getElementById("clubBrowseBtn").addEventListener("click", () => {
            window.location.href = '/browse-clubs';
        });

        document.getElementById("eventBrowseBtn").addEventListener("click", () => {
            window.location.href = '/browse-events';
        });

        document.getElementById("messageBtn").addEventListener("click", () => {
            window.location.href = '/view-messages';
        });
    </script>
</body>
</html>