<!DOCTYPE html>
<head>
    <title>Club Page</title>
</head>

<body>
    <div class="starter-container">
        
        <div id="info">
            <!-- Store club name -->
            <h1 id="name" data-name="{{ club['Club Name'] }}">
                {{ club["Club Name"] }}
            </h1>
            
            <!-- Store leader -->
            <strong>Leader: </strong>
            <span id="leader" data-name="{{ club['Leader'] }}">{{ club["Leader"] }}</span><br><br>
            
            <strong>Topic: </strong>
            <span id="topic">{{ club["Topic"] }}</span><br><br>

            <strong>Details: </strong>
            <span id="details">{{ club["Details"] }}</span><br><br>

            <strong>Members: </strong>
            <span>{{ club["Members"] }}</span><br><br>

            <strong>Events: </strong>
            <span>{{ club["Events"] }}</span><br><br>
        </div>       

        <div id="studentButtons" hidden>
            <button id="join">Request to Join!</button>
            <button id="studentBackBtn">Back</button>
        </div>

        <div id="leaderButtons" hidden>
            <div id="joinRequests">
                <label id="requests">You have {} new requests. </label>
			    <button id="viewBtn">View</button>
            </div><br>

            <div>
                <button id="createEventBtn">Create Event</button>
                <button id="leaderBackBtn">Back</button>
            </div><br><br>

            <div id="dashboard">
                <button id="chgLeader">Change Leader</button>
                <button id="chgTopic">Change Topic</button>
                <button id="chgDetails">Change Details</button>
                <button id="chgMembers">Remove Members</button>
                <button id="chgEvents">Cancel Events</button>
            </div>

            <div id="chgControls" hidden></div>
            <div id="message"></div>
        </div><br>
    </div>

    <script>
        let user = {};
        let clubName = "";

        window.addEventListener("DOMContentLoaded", async () => {
            // Get the current user
            let response = await fetch("/current-user", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
        
            let data = await response.json();
            user = data.user;
            
            clubName = document.getElementById("name").dataset.name;
            let leader = document.getElementById("leader").dataset.name;

            const studentButtons = document.getElementById("studentButtons");
            const leaderButtons = document.getElementById("leaderButtons");

            if (user.Username === leader) {
                leaderButtons.hidden = false;
            } else {
                studentButtons.hidden = false;
            }

            // Get the number of join requests
            response = await fetch(`/get-join-requests?club=${clubName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            data = await response.json();
            requestNum = data.number;
            document.getElementById("requests").innerHTML = "You have " + requestNum + " new requests.";
        });

        document.getElementById("join").addEventListener("click", async () => {

            let response = await fetch("/current-user", {
                method: "GET",
				headers: {
                    "Content-Type": "application/json"
                }
            });

            let data = await response.json();
            
            user = data.user;   
            
            let clubName = document.getElementById("name").dataset.name;
            let leader = document.getElementById("leader").dataset.name;
            
            const joinReq = {user, leader, clubName}; 

            fetch("/send-join-request", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(joinReq)
            })
            
            document.getElementById("studentButtons").innerHTML = "Your request to join has been sent!";

        });

        document.getElementById("studentBackBtn").addEventListener("click", () => {
            console.log("Clicked");
            window.location.href = '/browse-clubs';
        });

        document.getElementById("leaderBackBtn").addEventListener("click", () => {
            console.log("Clicked");
            window.location.href = '/browse-clubs';
        });

        document.getElementById("viewBtn").addEventListener("click", () => {
            let clubName = document.getElementById("name").dataset.name;
            window.location.href = `/view-join-requests?club=${clubName}`;
        })

        document.getElementById("createEventBtn").addEventListener("click", () => {
            let clubName = document.getElementById("name").dataset.name;
            window.location.href = `/create-event?club=${clubName}`;
        });
    
        document.getElementById("chgLeader").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Leader";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Leader Change
            confirm.addEventListener("click", async () => {
                let newLeader = tBox.value;
                let chgResponse = {club: clubName, leader: newLeader, topic: "", details: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();
                console.log(data.message);

                if (data.status == "success") {
                    console.log("Super Success!!!!!");
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgTopic").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Topic";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Topic Change
            confirm.addEventListener("click", async () => {
                let newTopic = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: newTopic, details: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();
                console.log(data.message);

                if (data.status == "success") {
                    console.log("Super Success!!!!!");
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgDetails").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("textarea");
            tBox.rows = 4;
            tBox.cols = 50;
            tBox.placeholder = "New Details";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Details Change
            confirm.addEventListener("click", async () => {
                let newDetails = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: newDetails};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();
                console.log(data.message);

                if (data.status == "success") {
                    console.log("Super Success!!!!!");
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
    </script>
</body>
</html>