<!DOCTYPE html>
<head>
    <title>Club Page</title>
</head>

<body>
    <div class="starter-container">
        
        <div id="info">
            <!-- Store club name -->
            <h1 id="name" data-name="{{ club['Club Name'] }}">
                {{ club["Club Name"] }}
            </h1>
            
            <!-- Store leader -->
            <strong>Leader: </strong>
            <span id="leader" data-name="{{ club['Leader'] }}">{{ club["Leader"] }}</span><br><br>
            
            <strong>Topic: </strong>
            <span id="topic">{{ club["Topic"] }}</span><br><br>

            <strong>Details: </strong>
            <span id="details">{{ club["Details"] }}</span><br><br>

            <strong>Members: </strong>
            <span>{{ club["Members"] }}</span><br><br>

            <strong>Events: </strong>
            <span>{{ club["Events"] }}</span><br><br>
        </div>
        
        <div id="flagDisplay"></div>

        <br>

        <div id="studentButtons" hidden>
            <button id="join">Request to Join!</button>
            <span id="sent" hidden>Your request to join has been sent!</span>
            <button id="studentBackBtn">Back</button>
        </div>

        <div id="leaderButtons" hidden>
            <div id="joinRequests">
                <label id="requests">You have {} new requests. </label>
			    <button id="viewBtn">View</button>
            </div><br>

            <div>
                <button id="createEventBtn">Create Event</button>
                <button id="leaderBackBtn">Back</button>
            </div><br><br>

            
        </div><br>

        <div id="dashboard" hidden>
            <button id="chgName">Change Name</button>
            <button id="chgLeader">Change Leader</button>
            <button id="chgTopic">Change Topic</button>
            <button id="chgDetails">Change Details</button>
            <button id="rmvMembers">Remove Members</button>
            <button id="rmvEvents">Cancel Events</button>
        </div>

        <div id="chgControls" hidden></div>
        <div id="message"></div>
        
        <br>
        <div id="adminDash" hidden>
            <button id="flagBtn">Flag Content</button>
            <button id="adminBackBtn">Back to Admin</button>
            <div id="adminMessage" hidden></div>
        </div>

        <div id="message2"></div>
    </div>

    <script>
        let user = {};
        let clubName = "";

        window.addEventListener("DOMContentLoaded", async () => {
            // Get the current user
            let response = await fetch("/current-user", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
        
            let data = await response.json();
            user = data.user;
            console.log(user.Role);
            
            clubName = document.getElementById("name").dataset.name;
            let leader = document.getElementById("leader").dataset.name;

            const studentButtons = document.getElementById("studentButtons");
            const leaderButtons = document.getElementById("leaderButtons");
            const dashboard = document.getElementById("dashboard");
            const admin = document.getElementById("adminDash");

            if (user.Username === leader) {
                leaderButtons.hidden = false;
                dashboard.hidden = false;
            } else {
                studentButtons.hidden = false;
            }

            if (user.Role === "admin") {
                studentButtons.hidden = true;
                dashboard.hidden = false;
                admin.hidden = false;
            } 

            // Get the number of join requests
            response = await fetch(`/get-join-requests?club=${clubName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            data = await response.json();
            requestNum = data.number;
            document.getElementById("requests").innerHTML = "You have " + requestNum + " new requests.";


            // Get and display flags
            response = await fetch("/grab-flags", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(clubName)
            })

            data = await response.json();
            console.log(data.flags);

            let flagDisplay = document.getElementById("flagDisplay");
            data.flags.forEach(flag => {
                const flagDisp = document.createElement("span");
                flagDisp.innerText = flag.Message;
                flagDisp.style.color = "#D61F22";

                const rmvButton = document.createElement("button");
                rmvButton.innerText = "Unflag";
                rmvButton.style.marginRight = "5px";

                const reqUnflagBtn = document.createElement("button");
                reqUnflagBtn.innerText = "Request Unflag";
                reqUnflagBtn.style.marginRight = "5px";


                if (user.Role != "admin") {
                    rmvButton.hidden = true;
                }

                if (user.Username != leader) {
                    reqUnflagBtn.hidden = true;
                }

                document.getElementById("flagDisplay").appendChild(rmvButton);
                document.getElementById("flagDisplay").appendChild(reqUnflagBtn);
                document.getElementById("flagDisplay").appendChild(flagDisp);
                document.getElementById("flagDisplay").appendChild(document.createElement("br"));
            });


        });

        document.getElementById("join").addEventListener("click", async () => {

            let response = await fetch("/current-user", {
                method: "GET",
				headers: {
                    "Content-Type": "application/json"
                }
            });

            let data = await response.json();
            
            user = data.user;   
            
            let clubName = document.getElementById("name").dataset.name;
            let leader = document.getElementById("leader").dataset.name;
            
            const joinReq = {user, leader, clubName}; 

            fetch("/send-join-request", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(joinReq)
            })
            
            document.getElementById("join").hidden = true;
            document.getElementById("sent").hidden = false;

        });

        document.getElementById("studentBackBtn").addEventListener("click", () => {
            window.location.href = '/browse-clubs';
        });

        document.getElementById("leaderBackBtn").addEventListener("click", () => {
            window.location.href = '/browse-clubs';
        });

        document.getElementById("viewBtn").addEventListener("click", () => {
            let clubName = document.getElementById("name").dataset.name;
            window.location.href = `/view-join-requests?club=${clubName}`;
        })

        document.getElementById("createEventBtn").addEventListener("click", () => {
            let clubName = document.getElementById("name").dataset.name;
            window.location.href = `/create-event?club=${clubName}`;
        });
    
        document.getElementById("chgName").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("adminMessage").hidden = true;
            document.getElementById("adminMessage").innerHTML = "";
            document.getElementById("message2").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Club Name";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgLeader").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("adminMessage").hidden = true;
            document.getElementById("adminMessage").innerHTML = "";
            document.getElementById("message2").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Leader";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Leader Change
            confirm.addEventListener("click", async () => {
                let newLeader = tBox.value;
                let chgResponse = {club: clubName, leader: newLeader, topic: "", details: "", member: "", event: "", name: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgTopic").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("adminMessage").hidden = true;                    
            document.getElementById("adminMessage").innerHTML = "";   
            document.getElementById("message2").innerHTML = "";             

            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Topic";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Topic Change
            confirm.addEventListener("click", async () => {
                let newTopic = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: newTopic, details: "", member: "", event: "", name: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgDetails").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("adminMessage").hidden = true;            
            document.getElementById("adminMessage").innerHTML = "";   
            document.getElementById("message2").innerHTML = "";             

            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("textarea");
            tBox.rows = 4;
            tBox.cols = 50;
            tBox.placeholder = "New Details";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Details Change
            confirm.addEventListener("click", async () => {
                let newDetails = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: newDetails, member: "", event: "", name: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("rmvMembers").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("adminMessage").hidden = true;
            document.getElementById("adminMessage").innerHTML = "";
            document.getElementById("message2").innerHTML = "";

            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "Remove Member";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Remove Member
            confirm.addEventListener("click", async () => {
                let byeMember = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: byeMember, event: "", name: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Remove Member
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });

            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
    
        document.getElementById("rmvEvents").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";

            document.getElementById("adminMessage").hidden = true;
            document.getElementById("adminMessage").innerHTML = "";
            document.getElementById("message2").innerHTML = "";

            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "Cancel Event";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Cancel Event
            confirm.addEventListener("click", async () => {
                let cnclEvent = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: cnclEvent, name: ""};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Remove Member
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });

            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
    
        document.getElementById("flagBtn").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("message").innerHTML = "";
            document.getElementById("adminMessage").innerHTML = "";

            document.getElementById("adminMessage").hidden = false;
            const input = document.getElementById("adminMessage");
            
            const tBox = document.createElement("textarea");
            tBox.rows = 4;
            tBox.cols = 50;
            tBox.placeholder = "Message";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            //adminMsg

            // Confirm Flag Message
            confirm.addEventListener("click", async () => {
                let actMessage = tBox.value;
                let flgResponse = {type: "Club", name: clubName, message: actMessage};
                let data = {};

                if (flgResponse["message"] == "") {
                    document.getElementById("message2").innerHTML = "Must enter a flag message.";
                } else {
                    let response = await fetch("/flag-content", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(flgResponse)
                    });

                    data = await response.json();
                }
                
                
                if (data.status == "success") {
                    window.location.reload();
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                document.getElementById("adminMessage").hidden = true;
                document.getElementById("adminMessage").innerHTML = "";
                document.getElementById("message2").innerHTML = "";
            });

            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("adminBackBtn").addEventListener("click", () => {
             window.location.href = '/admin';
        });
    </script>
</body>
</html>