<!DOCTYPE html>
<head>
    <title>Club Search</title>
</head>

<body>
    <div class="starter-container">
        <h2>School Clubs:</h2>
        <div>
            <input type="text" id="serchBar" placeholder="Search"><br>
            <div id="results" class="results-box" hidden></div>
        </div><br>
        <div id="list"></div>
        <button id="backBtn">Back</button>
    </div>

    <script>
        let data = {};

        window.addEventListener("DOMContentLoaded", async () => {
			let response = await fetch("/get-clubs", {
                method: "GET",
				headers: {
                    "Content-Type": "application/json"
                }
            });
            
            data = await response.json();

            const clubs = data.clubs;

            const list = document.getElementById("list");
            
            clubs.forEach(club => {
                const li = document.createElement("li");
                li.innerHTML = `
                    <div>
                        <span class="link" data-name="${club["Club Name"]}">${club["Club Name"]}</span>
                        Leader: ${club["Leader"]}<br>   
                        Topic: ${club["Topic"]}
                    </div><br><br>
                `;
                list.appendChild(li);
            });
        });

        document.addEventListener("click", e => {
            if (e.target.classList.contains("link")) {
                
                // Prevents page navigation from clicking the link.
                // Allows the js to handle navigation, and NOT the html. 
                e.preventDefault();

                const clubName = e.target.dataset.name;

                window.location.href = `/club-page?name=${encodeURIComponent(clubName)}`;
            }
        });

        document.getElementById("backBtn").addEventListener("click", () => {
            window.location.href = '/student';
        });

        document.getElementById("serchBar").addEventListener("input", () => {
            let clubNames = [];
            let results = [];

            data.clubs.forEach(club => {
                clubNames.push(club["Club Name"]);
            });

            results = clubNames.filter(item => item.toLowerCase().includes(document.getElementById("serchBar").value));

            if (document.getElementById("serchBar").value == "") {
                document.getElementById("results").hidden = true;
                document.getElementById("results").innerHTML = "";
            } else {
                document.getElementById("results").hidden = false;
                document.getElementById("results").innerHTML = "";

                results.forEach(result => {
                    const li = document.createElement("li");
                    li.innerHTML = `
                        <div>
                            <span class="link" data-name="${result}">${result}</span>
                        </div><br>
                    `;
                    document.getElementById("results").appendChild(li);
                })
            }
        });

    </script>
</body>
<style>
    #list {
        font-size: larger;
    }

    .link {
        color: blue;
        cursor: pointer;
        text-decoration: underline;
        margin-right: 20px;
    }

    .results-box {
        position: absolute;
        border: 1px solid;
        width: 250px;
        background: white;
    }
    
</style>
</html>