<!DOCTYPE html>
<head>
    <title>Club Page</title>
</head>

<body>
    <div class="starter-container">
        
        <div id="info">
            <h1>{{ club["Club Name"] }}</h1>
            <p><strong>Leader:</strong> {{ club["Leader"] }}</p>
            <p><strong>Topic:</strong> {{ club["Topic"] }}</p>
            <p><strong>Details:</strong> {{ club["Details"] }}</p>
            <p><strong>Members:</strong> {{ club["Members"] }}</p>
            <p><strong>Events:</strong> {{ club["Events"] }}</p>
        </div>

        

        <div id="studentButtons">
            <button>Request to Join!</button>
        </div><br>

        <div id="adminButtons">
            <button>Create Event</button>
        </div>
        
    </div>

    <script>
    </script>
</body>
</html>