<!DOCTYPE html>
<head>
    <title>Create User</title>

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
</head>

<body>
    <div class="create-user-container">
        <h2>Create User</h2>
        <input type="text" id="firstname" placeholder="First Name"><br>
        <input type="text" id="lastname" placeholder="Last Name"><br>
        <input type="text" id="email" placeholder="Email"><br>
        <input type="text" id="username" placeholder="Username"><br>
        <input type="text" id="password" placeholder="Password"><br>
        <button id="createAccountBtn">Create Account</button>
        <button id="cancel">Cancel</button>
    </div>

    <div>
        <p id="message"></p>
    </div>

    <script>
    document.getElementById("createAccountBtn").addEventListener("click", (event) => {
        const firstname = document.getElementById("firstname").value;
        const lastname = document.getElementById("lastname").value;
        const email = document.getElementById("email").value;
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const role = "student"

        const newAccount = {firstname, lastname, email, username, password, role};
        
        fetch("/create-account", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(newAccount)})
            .then(response => response.json())
            .then(data => {
                console.log("Server says:", data);
                if (data.status === "success") {    // If successful, returns to login page
                    window.location.href = "/";
                } else {
                    console.log(data.message);
                    document.getElementById("message").innerHTML = data.message;
                }
            })
        });

    document.getElementById("cancel").addEventListener("click", () => {
        window.location.href = '/';
    });
    </script>
</body>
</html>