<!DOCTYPE html>
<head>
    <title>Event Page</title>
</head>

<body>
    <div class="starter-container">
        
        <div id="info">
            <!-- Store event name -->
            <h1 id="name" data-name="{{ event['Event Name'] }}"> {{ event["Event Name"] }} </h1>
            
            <!-- Store host -->
            <strong>Host:</strong>
            <span id="host" data-name="{{ event['Club Name'] }}"> {{ event["Club Name"] }} </span><br><br>

            <strong>Date:</strong>
            <span> {{ event["Date"] }}</span><br><br>
            
            <strong>Time:</strong>
            <span> {{ event["Time"] }}</span><br><br>
            
            <strong>Location:</strong> 
            <span> {{ event["Location"] }}</span><br><br>
            
            <strong>Description:</strong> 
            <span> {{ event["Description"] }}</span><br><br>
            
            <strong>Availability:</strong>
            <span  id="availability"> 0 / {{ event["Max Guests"] }} students have registered.</span><br><br>
        </div>

        <div id="register">
            <button >Register for Event!</button><br>
        </div>
        
        <div id="leaderButtons">
            <!-- NEED TO ADD EDIT BUTTONS for LEADER -->
        </div><br>

        <button id="backBtn">Back</button>
        
    </div>

    <script>
        let user = {};
        let eventName = document.getElementById("name").dataset.name;

        async function updateAvailability() {   
            let response = await fetch(`/get-registered-guests?event=${eventName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            let data = await response.json();
            
            let maxNum = data.max
            let guestNum = data.number;

            if (maxNum - guestNum <= 0) {
                document.getElementById("register").style.display = "none";
                document.getElementById("availability").innerHTML = "Registration for this event is full.";
            } else {
                document.getElementById("availability").innerHTML = guestNum + " / " + maxNum + " students have registered.";
            }

        }

        window.addEventListener("DOMContentLoaded", async () => {
            // Get the current user
            let response = await fetch("/current-user", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
        
            let data = await response.json();
            user = data.user;

            //const leaderButtons = document.getElementById("leaderButtons");

            //if (user.Username === leader) {
            //    leaderButtons.style.display = "block";
            //}            
            
            updateAvailability();
        });

        document.getElementById("register").addEventListener("click", async () => {                        
            const registerReq = {user, eventName}; 

            await fetch("/register-guest", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(registerReq)
            })
            
            document.getElementById("register").innerHTML = "You have registered for " + eventName + "!";
            
            updateAvailability();
        });

        document.getElementById("backBtn").addEventListener("click", () => {
            window.location.href = '/browse-events';
        });
    </script>
</body>
</html>