<!DOCTYPE html>
<head>
    <title>Event Page</title>
</head>

<body>
    <div class="starter-container">
        
        <div id="info">
            <!-- Store event name -->
            <h1 id="name" data-name="{{ event['Event Name'] }}"> {{ event["Event Name"] }} </h1>
            
            <!-- Store host -->
            <strong>Host:</strong>
            <span id="host" data-name="{{ event['Club Name'] }}"> {{ event["Club Name"] }} </span><br><br>

            <strong>Date:</strong>
            <span> {{ event["Date"] }}</span><br><br>
            
            <strong>Time:</strong>
            <span> {{ event["Time"] }}</span><br><br>
            
            <strong>Location:</strong> 
            <span> {{ event["Location"] }}</span><br><br>
            
            <strong>Description:</strong> 
            <span> {{ event["Description"] }}</span><br><br>
            
            <strong>Availability:</strong>
            <span  id="availability"> 0 / {{ event["Max Guests"] }} students have registered.</span><br><br>
        </div>

        <div>
            <button id="regBtn">Register for Event!</button>
            <span id="regMessage" hidden>You have registered for Infinity War!</span>
            <button id="backBtn">Back</button>
        </div><br>
        
        <div id="leaderButtons" hidden>
            <div id="dashboard">
                <button id="chgName"    >Change Name</button>
                <button id="chgDate"    >Change Date</button>
                <button id="chgTime"    >Change Time</button>
                <button id="chgLoc"     >Change Location</button>
                <button id="chgDesc"    >Change Description</button>
                <button id="chgAvail"   >Change Availability</button>
                <button id="cnclEvent"  >Cancel Event</button>
            </div>

            <div id="chgControls" hidden></div>
            <div id="message"></div>
        </div><br>
    </div>

    <script>
        let user = {};
        let eventName = document.getElementById("name").dataset.name;
        let hostName = document.getElementById("host").dataset.name;
        let clubLeader = "";

        async function findHostLeader() {   
            let ldrResponse = {club: hostName};
            
            let response = await fetch(`/get-club-leader?club=${hostName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
            });
            
            let data = await response.json();
            clubLeader = data.leader;
        }

        async function updateAvailability() {   
            let response = await fetch(`/get-registered-guests?event=${eventName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            let data = await response.json();
            
            let maxNum = data.max
            let guestNum = data.number;

            if (maxNum - guestNum <= 0) {
                document.getElementById("register").style.display = "none";
                document.getElementById("availability").innerHTML = "Registration for this event is full.";
            } else {
                document.getElementById("availability").innerHTML = guestNum + " / " + maxNum + " students have registered.";
            }

        }

        window.addEventListener("DOMContentLoaded", async () => {
            // Get the current user
            let response = await fetch("/current-user", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
        
            let data = await response.json();
            user = data.user;            
            
            await findHostLeader();

            console.log("User: " + user.Username);
            console.log("Leader: " + clubLeader);

            if (user.Username === clubLeader) {
                leaderButtons.hidden = false;
            } 

            updateAvailability();
        });

        document.getElementById("regBtn").addEventListener("click", async () => {                        
            const registerReq = {user, eventName}; 

            await fetch("/register-guest", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(registerReq)
            })
            
            //document.getElementById("register").innerHTML = "You have registered for " + eventName + "!";
            document.getElementById("regBtn").hidden = true;
            document.getElementById("regMessage").hidden = false;
            
            updateAvailability();
        });

        document.getElementById("backBtn").addEventListener("click", () => {
            window.location.href = '/browse-events';
        });
    
        document.getElementById("chgName").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Name";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            /*confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });*/

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgDate").addEventListener("click",    async () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Date";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            /*confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });*/

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgTime").addEventListener("click",    async () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Time";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            /*confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });*/

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgLoc").addEventListener("click",     async () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Location";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            /*confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });*/

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgDesc").addEventListener("click",    async () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("textarea");
            tBox.rows = 4;
            tBox.cols = 50;
            tBox.placeholder = "New Event Description";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            /*confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });*/

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgAvail").addEventListener("click",   async () => {
            document.getElementById("chgControls").innerHTML = "";
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Availability";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            /*confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: clubName, leader: "", topic: "", details: "", member: "", event: "", name: newName};
                
                let response = await fetch("/manage-club", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/club-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });*/

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        // Needs Custom work ----------------------------------------------------------------------------------------------------------------------------------------------------
        document.getElementById("cnclEvent").addEventListener("click",  async () => {});
        

    </script>
</body>
</html>