<!DOCTYPE html>
<head>
    <title>Event Page</title>
</head>

<body>
    <div class="starter-container">
        
        <div id="info">
            <!-- Store event name -->
            <button id="unflagName" class="adminUnflagBtns" hidden>Unflag</button>
            <button id="flagName" class="adminFlagBtns" hidden>Flag</button>
            <h1 id="Event Name" data-name="{{ event['Event Name'] }}"> {{ event["Event Name"] }} </h1>
            
            <!-- Store host -->
            <strong>Host:</strong>
            <span id="Club Name" data-name="{{ event['Club Name'] }}"> {{ event["Club Name"] }} </span><br><br>

            <button id="unflagDate" class="adminUnflagBtns" hidden>Unflag</button>            
            <button id="flagDate" class="adminFlagBtns" hidden>Flag</button>                
            <strong>Date:</strong>
            <span id="Date"> {{ event["Date"] }}</span><br><br>

            <button id="unflagTime" class="adminUnflagBtns" hidden>Unflag</button>
            <button id="flagTime" class="adminFlagBtns" hidden>Flag</button>
            <strong>Time:</strong>
            <span id="Time"> {{ event["Time"] }}</span><br><br>
            
            <button id="unflagLctn" class="adminUnflagBtns" hidden>Unflag</button>
            <button id="flagLctn" class="adminFlagBtns" hidden>Flag</button>
            <strong>Location:</strong> 
            <span id="Location"> {{ event["Location"] }}</span><br><br>
            
            <button id="unflagDesc" class="adminUnflagBtns" hidden>Unflag</button>
            <button id="flagDesc" class="adminFlagBtns" hidden>Flag</button>
            <strong>Description:</strong> 
            <span id="Description"> {{ event["Description"] }}</span><br><br>
            
            <strong>Availability:</strong>
            <span  id="Availability"> 0 / {{ event["Max Guests"] }} students have registered.</span><br><br>
        </div>

        <div>
            <button id="regBtn">Register for Event!</button>
            <span id="regMessage" hidden>You have registered for Infinity War!</span>
            <button id="backBtn">Back</button>
        </div><br>
        
        <div id="leaderButtons" hidden>
            <div id="dashboard">
                <button id="chgName">Change Name</button>
                <button id="chgDate">Change Date</button>
                <button id="chgTime">Change Time</button>
                <button id="chgLoc">Change Location</button>
                <button id="chgDesc">Change Description</button>
                <button id="gstList">Show Guest List</button>
                <button id="cnclEvent">Cancel Event</button>
            </div>

            <div id="chgControls" hidden></div>
            <div id="message"></div>
            <br><div id="list"></div>
        </div><br>

        <button id="adminBackBtn" hidden>Back to Admin</button>
    </div>

    <div id="cnclCheck" hidden>
        <span>Are you sure you want to cancel this event?</span>
        <button id="cnclYes">Yes</button>
        <button id="cnclNo">No</button>
    </div>

    <script>
        let user = {};
        let eventName = document.getElementById("Event Name").dataset.name;
        let hostName = document.getElementById("Club Name").dataset.name;
        let clubLeader = "";
        let guestList = [];
        let flags = [];

        async function findHostLeader() {   
            let ldrResponse = {club: hostName};
            
            let response = await fetch(`/get-club-leader?club=${hostName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
            });
            
            let data = await response.json();
            clubLeader = data.leader;
        }

        async function updateAvailability() {   
            let response = await fetch(`/get-registered-guests?event=${eventName}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            let data = await response.json();
            
            let maxNum = data.max
            let guestNum = data.number;
            guestList = data.list;

            if (maxNum - guestNum <= 0) {
                document.getElementById("register").style.display = "none";
                document.getElementById("Availability").innerHTML = "Registration for this event is full.";
            } else {
                document.getElementById("Availability").innerHTML = guestNum + " / " + maxNum + " students have registered.";
            }

        }

        function displayFlagBtns() {
            if (user.Role == "admin") {
                document.querySelectorAll(".adminFlagBtns").forEach(btn => {
                    btn.hidden = false;
                });
            }
        }

        function displayUnflagBtns() {
            if (document.getElementById("Event Name").innerText == "Content flagged for inappropriateness.") {
                if (user.Role == "admin") {
                    document.getElementById("unflagName").hidden = false;
                    document.getElementById("flagName").hidden = true;
                }

                //if (user.Username == leader) {
                //    document.getElementById("reqUnflagName").hidden = false;
                //}
            }

            if (document.getElementById("Date").innerText == "Content flagged for inappropriateness.") {
                if (user.Role == "admin") {
                    document.getElementById("unflagDate").hidden = false;
                    document.getElementById("flagDate").hidden = true;
                }

                //if (user.Username == leader) {
                //    document.getElementById("reqUnflagName").hidden = false;
                //}
            }

            if (document.getElementById("Time").innerText == "Content flagged for inappropriateness.") {
                if (user.Role == "admin") {
                    document.getElementById("unflagTime").hidden = false;
                    document.getElementById("flagTime").hidden = true;
                }

                //if (user.Username == leader) {
                //    document.getElementById("reqUnflagName").hidden = false;
                //}
            }            

            if (document.getElementById("Location").innerText == "Content flagged for inappropriateness.") {
                if (user.Role == "admin") {
                    document.getElementById("unflagLctn").hidden = false;
                    document.getElementById("flagLctn").hidden = true;
                }

                //if (user.Username == leader) {
                //    document.getElementById("reqUnflagLdr").hidden = false;
                //}
            }

            if (document.getElementById("Description").innerText == "Content flagged for inappropriateness.") {
                if (user.Role == "admin") {
                    document.getElementById("unflagDesc").hidden = false;
                    document.getElementById("flagDesc").hidden = true;
                }

                //if (user.Username == leader) {
                //    document.getElementById("reqUnflagTpc").hidden = false;
                //}
            }
        }
        
        function displayFlags() {
            if (flags.length > 0) {
                flags.forEach(flag => {
                    document.getElementById(flag["Section"]).innerText = flag["Message"];
                })
            }

            displayUnflagBtns()
        }

        window.addEventListener("DOMContentLoaded", async () => {
            // Get the current user
            let response = await fetch("/current-user", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
        
            let data = await response.json();
            user = data.user;            
            
            await findHostLeader();

            if (user.Username == clubLeader) {
                leaderButtons.hidden = false;
            } 

            if (user.Role == "admin") {
                document.getElementById("adminBackBtn").hidden = false;
            }

            // Get and display flags
            response = await fetch("/grab-flags", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(eventName)
            })

            data = await response.json();
            flags = data.flags;
            

            updateAvailability();
            displayFlagBtns();
            displayFlags();
        });

        document.getElementById("regBtn").addEventListener("click", async () => {                        
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;
            
            const registerReq = {user, eventName}; 

            await fetch("/register-guest", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(registerReq)
            })
            
            //document.getElementById("register").innerHTML = "You have registered for " + eventName + "!";
            document.getElementById("regBtn").hidden = true;
            document.getElementById("regMessage").hidden = false;
            
            updateAvailability();
        });

        document.getElementById("backBtn").addEventListener("click", () => {
            window.location.href = '/browse-events';
        });
    
        document.getElementById("chgName").addEventListener("click", () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Name";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Name Change
            confirm.addEventListener("click", async () => {
                let newName = tBox.value;
                let chgResponse = {club: hostName, event: eventName, newName: newName, date: "", time: "", location: "", description: "", availability: ""};
                
                let response = await fetch("/manage-event", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.href = `/event-page?name=${encodeURIComponent(data.name)}`;
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });

        document.getElementById("chgDate").addEventListener("click", async () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Date";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Date Change
            confirm.addEventListener("click", async () => {
                let newDate = tBox.value;
                let chgResponse = {club: hostName, event: eventName, newName: "", date: newDate, time: "", location: "", description: "", availability: ""};
                
                let response = await fetch("/manage-event", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Date Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgTime").addEventListener("click", async () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Time";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Time Change
            confirm.addEventListener("click", async () => {
                let newTime = tBox.value;
                let chgResponse = {club: hostName, event: eventName, newName: "", date: "", time: newTime, location: "", description: "", availability: ""};
                
                let response = await fetch("/manage-event", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgLoc").addEventListener("click", async () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("input");
            tBox.type = "text";
            tBox.placeholder = "New Event Location";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Location Change
            confirm.addEventListener("click", async () => {
                let newLocation = tBox.value;
                let chgResponse = {club: hostName, event: eventName, newName: "", date: "", time: "", location: newLocation, description: "", availability: ""};
                
                let response = await fetch("/manage-event", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("chgDesc").addEventListener("click", async () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;
            
            document.getElementById("chgControls").hidden = false;
            const input = document.getElementById("chgControls");
            
            const tBox = document.createElement("textarea");
            tBox.rows = 4;
            tBox.cols = 50;
            tBox.placeholder = "New Event Description";

            const confirm = document.createElement("button");
            confirm.innerText = "Confirm";

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            // Confirm Description Change
            confirm.addEventListener("click", async () => {
                let newDesc = tBox.value;
                let chgResponse = {club: hostName, event: eventName, newName: "", date: "", time: "", location: "", description: newDesc, availability: ""};
                
                let response = await fetch("/manage-event", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(chgResponse)
                });

                let data = await response.json();

                if (data.status == "success") {
                    window.location.reload();
                } else {
                    document.getElementById("message").innerHTML = data.message;
                }
            });

            // Cancel Leader Change
            cancel.addEventListener("click", () => {
                const chgControls = document.getElementById("chgControls");
                chgControls.hidden = true;
                chgControls.innerHTML = "";

                document.getElementById("message").innerHTML = "";
            });
            
            input.appendChild(tBox);
            input.appendChild(confirm);
            input.appendChild(cancel);
        });
        
        document.getElementById("gstList").addEventListener("click", async () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = true;

            const cancel = document.createElement("button");
            cancel.innerText = "Cancel";

            cancel.addEventListener("click", () => {
                document.getElementById("list").innerHTML = "";
                document.getElementById("message").innerText = "";
            });

            console.log(guestList.length);
            if (guestList.length == 0) {
                document.getElementById("message").innerText = "No registered guests."
            }

            guestList.forEach(guest => {
                const li = document.createElement("li");
                
                const rmvButton = document.createElement("button");
                rmvButton.innerText = "Remove";
                rmvButton.style.marginRight = "5px";

                const gstSpan = document.createElement("span");
                gstSpan.innerText = guest;

                rmvButton.addEventListener("click", async () => {
                    await fetch("/remove-guest", {
                        method: "POST",
                        headers: { 
                            "Content-Type": "application/json" 
                        },
                        body: JSON.stringify({"event": eventName, "guest": guest})
                    });
                    
                    li.remove();
                    updateAvailability();
                });
                
                li.appendChild(rmvButton);
                li.appendChild(gstSpan);
                document.getElementById("list").appendChild(li);
            });

            document.getElementById("list").appendChild(document.createElement("br"));
            document.getElementById("list").appendChild(cancel);
        });
        
        document.getElementById("cnclEvent").addEventListener("click",  async () => {
            document.getElementById("chgControls").innerHTML = "";
            document.getElementById("list").innerHTML = "";
            document.getElementById("cnclCheck").hidden = false;
            
        });

        document.getElementById("cnclYes").addEventListener("click",  async () => {
            await fetch("/cancel-event", {
                method: "POST",
                headers: { 
                    "Content-Type": "application/json" 
                },
                body: JSON.stringify({"event": eventName, "host": hostName})
            });

            window.location.href = '/browse-events';
        });

        document.getElementById("cnclNo").addEventListener("click",  async () => {
            document.getElementById("cnclCheck").hidden = true;
        });
        
        document.querySelectorAll(".adminFlagBtns").forEach(btn => {
            btn.addEventListener("click", async () => {
                let flag = {};
                
                if (btn.id == "flagName") {
                    flag = {"type": "event", "name": eventName, "host": hostName, "section": "Event Name"};
                }

                if (btn.id == "flagDate") {
                    flag = {"type": "event", "name": eventName, "host": hostName, "section": "Date"};
                }  

                if (btn.id == "flagTime") {
                    flag = {"type": "event", "name": eventName, "host": hostName, "section": "Time"};
                }                    

                if (btn.id == "flagLctn") {
                    flag = {"type": "event", "name": eventName, "host": hostName, "section": "Location"};
                }

                if (btn.id == "flagDesc") {
                    flag = {"type": "event", "name": eventName, "host": hostName, "section": "Description"};
                }


                let response = await fetch("/flag-content", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(flag)
                });

                window.location.reload();
            });
        });

        document.querySelectorAll(".adminUnflagBtns").forEach(btn => {
            btn.addEventListener("click", async () => {
                let unflag = {};
                
                if (btn.id == "unflagName") {
                    unflag = {"type": "event", "name": eventName, "host": hostName, "section": "Event Name"};
                }

                if (btn.id == "unflagDate") {
                    unflag = {"type": "event", "name": eventName, "host": hostName, "section": "Date"};
                }

                if (btn.id == "unflagTime") {
                    unflag = {"type": "event", "name": eventName, "host": hostName, "section": "Time"};
                }

                if (btn.id == "unflagLctn") {
                    unflag = {"type": "event", "name": eventName, "host": hostName, "section": "Location"};
                }

                if (btn.id == "unflagDesc") {
                    unflag = {"type": "event", "name": eventName, "host": hostName, "section": "Description"};
                }

                let response = await fetch("/unflag-content", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(unflag)
                });

                window.location.reload();
            });
        });

        document.getElementById("adminBackBtn").addEventListener("click", () => {
            window.location.href = '/admin';
        })
    </script>
</body>
</html>