<!DOCTYPE html>
<head>
  <title>Student Page</title>

  <!--<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
</head>

<body>
  <div class="starter-container">
    <h2 id="greeting">Student Page</h2>
    <button id="newClubBtn">New Club Request</button>
    <button id="logoutBtn">Logout</button>
  </div>

  <script>
    let user = {};

    window.addEventListener("DOMContentLoaded", async () => {
      const response = await fetch("/current-user", {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      });

      const data = await response.json();
      user = data.user;
      document.getElementById("greeting").innerHTML = "Welcome " + user.Firstname;    // Displays user's first name
      //console.log(user.Firstname);
    });

    document.getElementById("newClubBtn").addEventListener("click", () => {
      window.location.href = '/request-new-club';
    });

    document.getElementById("logoutBtn").addEventListener("click", () => {
      window.location.href = '/logout';
    });
  </script>
</body>
</html>