<!DOCTYPE html>
<head>
  <title>Student Page</title>

  <!--<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
</head>

<body>
  <div class="starter-container">
    <h2>Student Page</h2>
    <button id="newClubBtn">New Club Request</button>
    <button id="logoutBtn">Logout</button>
  </div>

  <script>

    window.addEventListener("DOMContentLoaded", async () => {
      const response = await fetch("/current-user", {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      });

      const data = await response.json();
      console.log(data);
      
    });

    document.getElementById("newClubBtn").addEventListener("click", () => {
      window.location.href = '/request-club';
    });

    document.getElementById("logoutBtn").addEventListener("click", () => {
      window.location.href = '/';
    });
  </script>
</body>
</html>