<!DOCTYPE html>
<head>
    <title>View Messages</title>
</head>

<body>
    <div class="starter-container">
        <h2>Messages</h2>
        <div id="display">
            <p id="from"></p>
            <textarea id="message" rows="4" cols="50"></textarea><br><br>
        </div>
        <button id="prevBtn">Prev</button>
        <button id="nextBtn">Next</button>
        <button id="deleteBtn">Delete</button><br><br>
        <button id="goBackBtn">Back</button>
    </div>

    <script>
        let currentIndex = 0;
        let pending = {"to": "", "from": "", "message": ""};
        let user = {};
        let messages = [];

        function display() {
            if (messages.length > 0) {
                document.getElementById("from").innerHTML =`From: ${messages[currentIndex]["From"]}`;
                document.getElementById("message").innerHTML = messages[currentIndex]["Message"];
            } else {
                document.getElementById("message").innerHTML = "No messages";
            }
        }
    
        window.addEventListener("DOMContentLoaded", async () => {
            let response = await fetch("/current-user", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });
        
            let data = await response.json();
            user = data.user;
            
            response = await fetch("/get-messages", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            });

            data = await response.json();
            messages = data["messages"];
            display();
        });

        document.getElementById("prevBtn").addEventListener("click", async () => {
            currentIndex--;
            if (currentIndex < 0) currentIndex = messages.length - 1;
            display();
        });

        document.getElementById("nextBtn").addEventListener("click", async () => {
            currentIndex++;
            if (currentIndex >= messages.length) currentIndex = 0;
            display();
        });

        document.getElementById("deleteBtn").addEventListener("click", async () => {                                    
            dltMessage = messages[currentIndex];
            console.log(dltMessage);
            
            await fetch("/delete-message", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(dltMessage)
            })

            window.location.reload();
            //display(data);
        });

        document.getElementById("goBackBtn").addEventListener("click", () => {
            if (user["Role"] == "student") {
                window.location.href = '/student';
            }

            if (user["Role"] == "admin") {
                window.location.href = '/admin';
            }
        });
    </script>
</body>
</html>