<!DOCTYPE html>
<head>
  <title>View Club Requests</title>

  <!--<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
</head>

<body>
    <div class="starter-container">
        <h2>Club Requests</h2>
        <div id="display">
            <p id="user"></p>
            <p id="name"></p>
            <p id="topic"></p>
            <label></label><br>
            <textarea id="description" rows="4" cols="50"></textarea><br><br>
        </div>
        <button id="prevBtn">Prev</button>
        <button id="nextBtn">Next</button>
        <button id="approveBtn">Approve</button>
        <button id="goBackBtn">Back</button>
    </div>

    <script>
        let currentIndex = 0;
        let pending = {"user": "", "name": "", "topic": "", "description": ""};
        
        async function getClubRequest(index) {
            const response = await fetch(`/get-club-request?index=${index}`, {
                method: "GET",
                headers: { 
                    "Content-Type": "application/json" 
                },
            });
            
            data = await response.json();
            return data;
        }

        function display(data) {
            if (data.status === "success") {
                document.getElementById("user").innerHTML = "Submitted by: " + data.data["Submitted By"];
                document.getElementById("name").innerHTML = "Club Name: " + data.data["Club Name"];
                document.getElementById("topic").innerHTML = "Topic: " + data.data["Topic"];
                document.getElementById("description").innerHTML = data.data["Details"];

                pending.user = data.data["Submitted By"];
                pending.name = data.data["Club Name"];
                pending.topic = data.data["Topic"];
                pending.description = data.data["Details"];

                currentIndex = data.index;
            } else {
                document.getElementById("user").innerHTML = "";
                document.getElementById("name").innerHTML = "";
                document.getElementById("topic").innerHTML = "";
                document.getElementById("description").innerHTML = data.message;
            }            
        }
    
        window.addEventListener("DOMContentLoaded", async () => {
            let data = await getClubRequest(currentIndex);
            display(data);
        });

        document.getElementById("prevBtn").addEventListener("click", async () => {
            currentIndex--;
            let data = await getClubRequest(currentIndex);
            display(data);
        });

        document.getElementById("nextBtn").addEventListener("click", async () => {
            currentIndex++;
            let data = await getClubRequest(currentIndex);
            display(data);
        });

        document.getElementById("approveBtn").addEventListener("click", async () => {            
            fetch("/approve-club-request", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(pending)
            })

            // Reset display to first request
            currentIndex = 0
            
            let data = await getClubRequest(currentIndex);
            display(data);
        });

        document.getElementById("goBackBtn").addEventListener("click", () => {
          window.location.href = '/admin';
        });
    </script>
</body>
</html>