<!DOCTYPE html>
<head>
    <title>View Reports</title>
</head>

<body>
    <div class="starter-container">
        <h2>Reports</h2>
        <div id="display">
            <p id="student"></p>
            <p id="contentName"></p>
            <p id="section"></p>
            <p id="details"></p>
            <label></label><br>
            <p id="description"></p><br><br>
        </div>
        <button id="prevBtn">Prev</button>
        <button id="nextBtn">Next</button>
        <button id="goTo" hidden>Go To</button>
        <button id="deleteBtn">Delete</button><br><br>
        <button id="goBackBtn">Back</button>
    </div>
    <script>
        reports = [];
        i = 0;

        function display() {
            if (reports.length == 0) {
                document.getElementById("description").innerText = "No new reports."
                document.getElementById("flagBtn").hidden = true;
            } else {
                document.getElementById("goTo").hidden = false;
                document.getElementById("description").innerText = 
                `Student: ${reports[i]["Student"]} \n
                Type: ${reports[i]["Content Type"]} \n
                Name: ${reports[i]["Content Name"]} \n
                Section: ${reports[i]["Section"]} \n
                Details: ${reports[i]["Details"]}`
            }
        }

        window.addEventListener("DOMContentLoaded", async () => {
            let response = await fetch("/get-reports", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
            });

            let data = await response.json();
            reports = data.reports;
            //console.log(reports);
            //console.log(reports[0]["Content Name"]);
            console.log(reports.length);

            display();
            
        });

        document.getElementById("goBackBtn").addEventListener("click", () => {
            window.location.href = '/admin';
        });

        document.getElementById("nextBtn").addEventListener("click", () => {
            i++;
            if (i >= reports.length) i = 0;
            display();
        });

        document.getElementById("prevBtn").addEventListener("click", () => {
            i--;
            if (i < 0) i = reports.length - 1;
            display();
        });            

        document.getElementById("deleteBtn").addEventListener("click", async () => {
            let dltMsg = {"Student": reports[i]["Student"], "Type": reports[i]["Content Type"], "Name": reports[i]["Content Name"], "Section": reports[i]["Section"], "Details": reports[i]["Details"]}

            await fetch("/delete-report", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(dltMsg)
            })

            window.location.reload();

            // Reset display to first request
            i = 0;

            //let data = await getMessage(i);
            display();
        });

        document.getElementById("goTo").addEventListener("click", async () => {
            if (reports[i]["Content Type"] == "Club") {
                window.location.href = `/club-page?name=${encodeURIComponent(reports[i]["Content Name"])}`;
            } else {
                window.location.href = `/event-page?name=${encodeURIComponent(reports[i]["Content Name"])}`;
            }
        });
    </script>
</body>