<!DOCTYPE html>
<head>
    <title>View Reports</title>
</head>

<body>
    <div class="starter-container">
        <h2>Reports</h2>
        <div id="display">
            <p id="student"></p>
            <p id="contentName"></p>
            <p id="section"></p>
            <p id="details"></p>
            <label></label><br>
            <textarea id="description" rows="4" cols="50"></textarea><br><br>
        </div>
        <button id="prevBtn">Prev</button>
        <button id="nextBtn">Next</button>
        <button id="approveBtn">Approve</button>
        <button id="denyBtn">Deny</button><br>
        <button id="goBackBtn">Back</button>
    </div>
    <script>

    </script>
</body>